@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-bgBase: 39deg 85% 95%;
    --color-content: 0deg 0% 20%;
    --color-butContent: 222deg 47% 11%;
    --color-accent: 288deg 95.8% 90.6%;
    --color-bgComp: 168deg 83.8% 78.2%;
    --color-bgBut: 243deg 75% 59%;
    --color-bgButHov: 243deg 75% 53%;
    --color-footer: 120deg 100% 20%;
    --color-bgSideBar: 0deg 0% 0%;
    --color-btSearch: 85deg 0% 90%;
  }
  @media (prefers-color-scheme: dark) {
    :root {
      --color-bgBase: 240deg 27% 18%;
      --color-content: 210deg 14% 53%;
      --color-butContent: 217deg 30% 92%;
      --color-accent: 288deg 95.8% 90.6%;
      --color-bgComp: 168deg 83.8% 78.2%;
      --color-bgBut: 243deg 75% 59%;
      --color-bgButHov: 243deg 75% 63%;
      --color-footer: 120deg 100% 20%;
      --color-bgSideBar: 0deg 0% 100%;
      --color-btSearch: 210deg 14% 53%;
    }
  }
  :root[data-theme="dark"] {
    --color-bgBase: 240deg 27% 18%;
    --color-content: 210deg 14% 53%;
    --color-accent: 288deg 95.8% 90.6%;
    --color-bgComp: 168deg 83.8% 78.2%;
    --color-bgBut: 210deg 100% 56%;
    --color-bgButHov: 219deg 79% 66%;
    --color-footer: 181deg 100% 41%;
    --color-bgSideBar: 0deg 0% 100%;
    --color-btSearch: 210deg 14% 53%;
  }
  :root[data-theme="light"] {
    --color-bgBase: 39deg 85% 95%;
    --color-content: 0deg 0% 20%;
    --color-butContent: 222deg 47% 11%;
    --color-accent: 288deg 95.8% 90.6%;
    --color-bgComp: 168deg 83.8% 78.2%;
    --color-bgBut: 243deg 75% 59%;
    --color-bgButHov: 243deg 75% 53%;
    --color-footer: 120deg 100% 20%;
    --color-bgSideBar: 0deg 0% 0%;
    --color-btSearch: 39deg 85% 90%;
  }
}
