@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-bgBase: 210deg 40% 98%;
    --color-content: 217deg 32.6% 17.5%;
    --color-accent: 288deg 95.8% 90.6%;
    --color-bgComp: 168deg 83.8% 78.2%;
    --color-bgBut: 168deg 83.8% 78.2%;
  }
  @media (prefers-color-scheme: dark) {
    :root {
      --color-bgBase: 210deg 40% 98%;
      --color-content: 217deg 32.6% 17.5%;
      --color-accent: 288deg 95.8% 90.6%;
      --color-bgComp: 168deg 83.8% 78.2%;
      --color-bgBut: 168deg 83.8% 78.2%;
    }
  }
  :root[data-theme="dark"] {
    --color-bgBase: 210deg 40% 98%;
    --color-content: 217deg 32.6% 17.5%;
    --color-accent: 288deg 95.8% 90.6%;
    --color-bgComp: 168deg 83.8% 78.2%;
    --color-bgBut: 168deg 83.8% 78.2%;
  }
}
